.task {
    background-color: #fff;
    border-radius: 4px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

.task p {
    margin: 0;
    padding: 0;
    font-weight: 500;
    word-break: break-all;
}

.trash-icon, 
.check-icon {
    margin: 10px;
    cursor: pointer;
    transition: all ease .2s;
}

.trash-icon:hover,
.check-icon:hover {
    transform: scale(1.1)
}


.icons {
    display: flex;
    align-items: center;
}

.task.done {
    background-color: #f7f7ffaa;
}

.task.done p {
    text-decoration: line-through;
}