section.todo {
    flex: 1;
    background-color: #eef;
    padding: 0 30px;
    border-radius: 8px;
    /* height: min-content; */
    height: 70vh;
    overflow-y: scroll;
}

section.todo h2 {
    margin-top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #bcbcbc;
}