.header {
    height: 70px;
    background-color: #eef;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header p {
    font-size: 20px;
    color: #00008a;
    margin-right: 10px;
}

.header .logo {
    display: flex;
    align-items: center;   
}

.header .add-icon {
    transition: all ease .2s;
}

.header .add-icon button {
    border: none;
    background-color: none;
    cursor: pointer;
}

.header .add-icon:hover {
    transform: scale(1.1);
}